@model List<ResultProductDto>


<section id="property_listing_section" class="mt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-12">
                <div class="theme_heading">
                    <h2>Latest Property Listings</h2>
                </div>
                <div class="theme_description">
                    <p class="mt-15">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-12 theme_button">
                <a href="javascript:void(0);" class="btn">explore all listings<i class="icon fa-solid fa-arrow-right"></i></a>
            </div>
        </div>


        <div id="property-listings" class="pt-80">
            @foreach (var item in Model)
            {
                <div class="property">
                    <div class="property-image">
                        <img src="@item.Image"
                         alt="property_image">
                        <p class="property-price">$@item.Price</p>
                    </div>
                    <h3 class="property-title">@item.Title</h3>
                    <p class="property-address">@item.Address</p>
                    <div class="facilities">
                        <p class="bedroom-facility value">Bedroom: <span>@item.Bedroom</span></p>
                        <p class="bathroom-facility value">Bathroom: <span>@item.Bathroom</span></p>
                        <p class="area-facility value">Area: <span>@item.Area Sft.</span></p>
                    </div>
                </div>
            }
        </div>

    </div>
</section>